@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');



$green:#27300f;
$orange: #d26a22;
$dark-orange: #cf5c0d;
$white: #ffffff;

$font-jost: "Jost", sans-serif;
$font-cormorant:  "Cormorant", serif;

$r_minmob: 320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_mob_600: 600px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk:1000px;
$r_desk_1120:1120px;
$r_desk_hd:1200px;
$r_desk_1280:1280px;
$r_desk_1350:1350px;
$r_desk_1400:1400px;
$r_desk_full_1750:1750px;

html {
    font-size: 10px;
    @media (max-width: $r_mob_500){
        font-size: 8px;
    }
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color:$green;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    


}


.header {
    max-width: 1440px;
    margin: 0 auto 6rem;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    gap:5%;
    @media (max-width: $r_desk_1280){
        gap:3%;
    }
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap:4.8rem;
        @media (max-width: $r_desk_hd){
            gap:2.5rem;
        }
    }
    &__link {
        
        color:$green;
        text-decoration: none;
        
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        
        color:$green;
        font-weight: 500;
        text-decoration: none;
        flex-basis: 200px;
        letter-spacing: 0.13rem;
        text-align: right;
        &:hover {
            color: $orange;
        }
        @media (max-width: $r_desk_hd){
            display: none;
        }
        
    }

    &__navigation {

        flex-grow: 1;
        margin-left: 4.5rem;
        @media (max-width: $r_desk_1280){
            margin-left: 0;
        }
        @media (max-width: $r_desk_hd){
            flex-grow: 0;
        }
        @media (max-width: $r_tab_900){
            display: none;
        }
    }
    &__cart {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: $orange;
        background-image: url(../images/cart.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.7rem 1.5rem;
        border:1px solid $orange;
        position: relative;
        cursor: pointer;
        @media (max-width: $r_desk_hd){
            background-image: url(../images/cart-m.svg);
            background-color: $white;
            border:1px solid $green;
            opacity: .8;
        }

        @media (max-width: $r_mob_500){
            width: 4.5rem;
            height: 4.5rem;
            background-size: 2rem;
        }

        &:hover {
            background-color: $green;
            border:1px solid $green;
            @media (max-width: $r_desk_hd){
                background-color: $white;
                opacity: 1;
            }
        }
       

    }
    &__count{
        font-size: .8rem;
        color: $white;
        position: absolute;
        right:0.7rem;
        top:.6rem;
        @media (max-width: $r_desk_hd){
            color: $green;
        }
        @media (max-width: $r_mob_500){
            font-size: 1rem;
        }
    }

    &__phone, &__menu {
        display: none;
    }

    &__phone {
        @media (max-width: $r_desk_hd){
            display: block;
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            background-color: $white;
            background-image: url(../images/tel.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.7rem 1.5rem;
            border:1px solid $green;
            position: relative;
            transition: .3s;
            opacity: .8;
        }
        @media (max-width: $r_mob_500){
            width: 4.5rem;
            height: 4.5rem;
            background-size: 1.9rem;
        }
        &:hover {
            opacity: 1;
        }
    }

    &__menu {
        @media (max-width: $r_tab_900){
            display: block;
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            background-color: $white;
            background-image: url(../images/menu.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.7rem 1.5rem;
            border:1px solid $green;
            position: relative;
            cursor: pointer;
            transition: .3s;
            opacity: .8;
        }
        @media (max-width: $r_mob_500){
            width: 4.5rem;
            height: 4.5rem;
            background-size: 2rem;
        }
    }

    &__buttons {
        @media (max-width: $r_desk_hd){
            display: flex;
            align-items: center;
            gap:1.5rem;
        }
        @media (max-width: $r_mob_500){
            gap:1.4rem;
        }
        
    }
}

.logo {
    display: block;
    background-image: url(../images/logo.svg);
    flex-basis: 12rem;
    height: 3.2rem;
    background-repeat: no-repeat;
    background-size: contain;
    &_footer {
        flex-basis: 18rem;
        height: 4.8rem;
        @media (max-width: $r_tab){
            width: 130px;
            height: 38px;
            flex-basis: inherit;
            align-self: center;
            margin-bottom: 30px;
        }
        
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: $r_tab){
        max-width: 600px;
    }
}

.main {
    // background-image: url(../images/main.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position-x: center;
    position: relative;
    padding-bottom: 187px;
    z-index: 0;
    @media (max-width: $r_tab){
        padding-bottom: 6rem;
    }
    &__item {
        margin-top: 6rem;
        margin-left: 12rem;
        max-width: 378px;
        @media (max-width: $r_desk_1280){
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1120){
            margin-left: 4rem;
        }
        @media (max-width: $r_tab){
            max-width: 100%;
            margin-left: 0;
            margin-top: 3rem;
        }
    }
    &__link {
        margin-top: 6rem;
        @media (max-width: $r_tab){
            text-align: center;
        }
        @media (max-width: $r_mob_500){
            margin-top: 5.3rem;
        }
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:30px;
        @media (max-width: $r_desk_1120){
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }
    &__text {
        padding-top: 4rem;
        @media (max-width: $r_desk_1120){
            flex-basis: 395px;
        }
        @media (max-width: $r_tab){
            flex-basis: 100%;
            padding-top: 0;
        }
    }
    &__cover {
        flex-basis: 758px;
        height: 758px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        @media (max-width: $r_desk_1350){
            flex-basis: 650px;
            height: 650px;
        }
        @media (max-width: $r_desk_hd){
            flex-basis: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_1120){
            border: 1px solid transparent;
            height: auto;
            flex-basis: calc(100% - 395px);
        }
        @media (max-width: $r_tab){
            display: none;
        }
    }
    &__image {
        width: 92%;
        border-radius: 100%;
        animation: shadow 4s infinite;
    }

    &__imagemob {
        display: none;
        @media (max-width: $r_tab){
            display: block;
            max-width: 300px;
            margin: 0 auto;
            margin-top:3rem;
        }
        @media (max-width: $r_mob_500){
            max-width: 220px;
        }
    }
    &__line {
        width: 656px;
        height: 656px;
        // box-shadow: 0 0 0 1px rgba($green, 0.4), 0 0 0 53px #fff, 0 0 0 54px rgba($green, 0.4);
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: $r_desk_1350){
            width: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_hd){
            border: 1px solid transparent;
            width: auto;
            height: auto;
        }
        

    }
    &__btn {
        border: none;
        padding: 0;
        color: $green;
        position: absolute;
        text-align: left;
        background-color: transparent;
       

       
        
        &::before {
            content: '';
            width: 11px;
            background-color: $green;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            position: absolute;
        }


         &:hover {
            .main__btn {
                &::before {
                    background-color: $orange;
                    box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
                }

            }

        }

        &_1 {
            top:63px;
            left:47px;
            &::before {
                bottom:0;
                right:-26px;
            }
            @media (max-width: $r_desk_hd){
                top:23px;
            }
            @media (max-width: $r_desk_1120){
                display: none;
            }
            
        }
        &_2 {
            top:212px;
            right:-3px;
            @media (max-width: $r_desk_1350){
                top:125px;
            }
            @media (max-width: $r_desk_hd){
                top:70px;
            }
            @media (max-width: $r_desk_1120){
                display: none;
            }
            &::before {
                bottom:12px;
                right:85px;
            }
            
            
        }
        &_3 {
            bottom:-44px;
            left:475px;

            @media (max-width: $r_desk_1350){
                bottom:-14px;
            }
            @media (max-width: $r_desk_hd){
                bottom:14px;
            }
            @media (max-width: $r_desk_1120){
                display: none;
            }
            &::before {
                top:-32px;
                right:23px;
            }
            
        }
    }

    &__food {
        display: block;
        color: rgba ($green, 0.8);
    }
    &__tomato {
        position: absolute;
        bottom:28rem;
        right: 1rem;
        width: 11rem;
        z-index: -1;
        @media (max-width: $r_tab){
            width: 8rem;
        }
        @media (max-width: $r_mob_500){
            bottom:inherit;
            right: inherit;
            left:2rem;
            top:12rem;
        }


    }

    &__avocado {
        position: absolute;
        top:11rem;
        right: -2rem;
        width: 17.8rem;
        z-index: -1;
        @media (max-width: $r_desk_full_1750){
            width: 12rem;
        }

    }

    &__cucumber {
        position: absolute;
        top:0;
        left: 18rem;
        width: 8.4rem;
        z-index: -1;
        @media (max-width: $r_mob_500){
            
            left:inherit;
            right:-2rem;
            top:inherit;
            bottom:19rem;
            transform: rotate(90deg);
        }

    }

    &__pepper {
        position: absolute;
        top:40rem;
        left: 8rem;
        width: 8.6rem;
        z-index: -1;
        @media (max-width: $r_desk_full_1750){
            top:13rem;
        }
        @media (max-width: $r_tab){
            display: none;
        }
        @media (max-width: $r_mob_500){
            display: block;
            left: -1rem;
            top:50rem;
        }

    }

    &__beans {
        position: absolute;
        bottom:12rem;
        left: 0;
        width: 10.5rem;
        z-index: -1;
        
        @media (max-width: $r_mob_500){
            display: none;
        }

    }
}

.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    margin-bottom: 2rem;
    @media (max-width: $r_desk_1280){
        font-size: 7rem;
    }

    @media (max-width: $r_desk_1120){
        font-size: 6rem;
    }

    @media (max-width: $r_tab){
        text-align: center;
    }
    @media (max-width: $r_mob_500){
        font-size: 4rem;
    }
    
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }
    }

}

.description {
    margin: 0;
    line-height: 1.5;
    @media (max-width: $r_tab){
        text-align: center;
    }
    &_size-s {
        font-size: 1.8rem;
        @media (max-width: $r_desk_1280){
            font-size: 1.6rem;
        }
    }
    &_size-m {
        font-size: 2.4rem;
        @media (max-width: $r_desk_1280){
            font-size: 2.2rem;
        }
        @media (max-width: $r_mob_500){
            font-size: 1.6rem;
        }
    }
}

.link {
    color:$white;
    letter-spacing: 0.13rem;
    text-transform: uppercase;
    padding: 2.5rem 4.2rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.6rem;
    display: inline-block;
    border: none;
    cursor: pointer;
    transition: .2s;

    // @media (max-width: $r_desk_1350){ 
    //     padding: 1.5rem 2.2rem;
    // }
    @media (max-width: $r_desk_1280){
        font-size: 1.4rem;
    }

   
    &:hover {
        background-color: $dark-orange;
    }
    &_min {
        font-size: 1.4rem;
        padding: 2rem 3.4rem;
        box-shadow: 0px 1rem 1.1rem .17rem rgba(207, 92, 13, 0.15);
        @media (max-width: $r_mob_600){
            padding: 2rem 2.2rem;
        }
    }

}

.offer {
    // background-image: url(../images/offer.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position-x: center;
    padding-top: 2rem;
    padding-bottom: 12.8rem;
    @media (max-width: $r_tab){
        padding-bottom: 6rem;
    }
    &__text {
        margin-top: 6rem;
        max-width: 700px;
        @media (max-width: $r_mob_500){
            margin-top: 4rem;
        }
    }
    
}

.slider {
    overflow: hidden;
    padding-top: 9.4rem;
    
    @media (max-width: $r_tab){
        max-width: 450px;
        margin: 0 auto;
        padding-top: 5.4rem;
        padding-bottom: 6rem;
    }
    @media (max-width: $r_mob_500){
        max-width: 210px;
        padding-bottom: 7rem;
    }
}

.swiper {
    overflow: initial;
    &-slide {
        border: 1px solid rgba($green,0.4);
        border-radius: 2rem;
        // padding: 4rem 3.7rem;
        box-sizing: border-box;
        padding: 3rem 3.7rem 3.8rem;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;
        
        &_white {
            justify-content: flex-end;
            height: 520px;
            padding: 4rem 3.7rem;
            display: flex;
            flex-direction: column;
            // background-size: contain;
            justify-content: flex-end;
            @media (max-width: $r_desk_hd){
                height: 400px;
            }

            @media (max-width: $r_mob_500){ 
                height: 240px;
            }
            
            &:hover {
                .swiper-slide__hover {
                    height: 233px;
                    opacity:1;
                    @media (max-width: $r_mob_500){
                        height: auto;
                    }
                } 
                &::after{
                    content: '';
                    background-color: rgba($white,.55);
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    position: absolute;
                    top:2px;
                    left:2px;
                    border-radius: 2rem;
                    z-index: -1;
                }
            }
        }
       

        &:hover {
            box-shadow: 0 0 0 2px rgba($green,0.4) inset;    
        }
        &_milk {
            background-image: url(../images/milk.png);
        }
        &_pasta {
            background-image: url(../images/pasta.png);
        }
        &_steaks {
            background-image: url(../images/steaks.png);
        }
        &_drink {
            background-image: url(../images/catalog/drink.png);
        }
        &_chocolate {
            background-image: url(../images/catalog/chocolate.png);
        }
        &_food {
            background-image: url(../images/catalog/food.png);
        }
        &__title {
            font-family: $font-cormorant;
            font-size: 3rem;
            font-weight: 700;
            color:$green;
            min-height: 69px;
            margin: 0;
            @media (max-width: $r_desk_1120){
                min-height: 75px;
            }
            @media (max-width: $r_tab){
                text-align: center;
            }
            @media (max-width: $r_mob_500){
                font-size: 1.75rem;
                min-height: 36px;
            }
        }
        &__description {
            font-family: $font-cormorant;
            font-size: 1.8rem;
            font-weight: 500;
            min-height: 55px;
            line-height: 1.5;
            color:$green;
            margin: 0;
            margin-top: 2rem;
            max-width: 300px;
            @media (max-width: $r_desk_1120){
                min-height: 81px;
            }
            @media (max-width: $r_tab){
                text-align: center;
                max-width: inherit;
               
            }
        }
        &__price {
            font-family: $font-cormorant;
            font-size: 2.4rem;
            font-weight: 700;
            color:$green;
            margin: 0;
            margin-bottom: 3rem;
            @media (max-width: $r_tab){
                text-align: center;
            }
        }
        &__text {
            color:rgba($green, .7);
            line-height: 1.5;
            font-size: 1.6rem;
            max-width: 263px;
            margin:0;
            margin-top: 2.5rem;
            margin-bottom: 3.4rem;
            @media (max-width: $r_mob_500){
                display: none;
            }
        }

        &__image {
            width: 100%;
            max-width: 351px;
            // max-height: 200px;
            height: 100%;
            object-fit: contain;
            
        }
        &__hover {
            height: 0;
            opacity:0;
            @media (max-width: $r_mob_500){
                height: auto;
                opacity: 1;
            }
        }
        &__link {
            text-decoration: none;
            color: rgba($green, .8);
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            display: flex;
            align-items: center;
            gap:2rem;
            opacity: 0.8;
            transition: .2s;
            @media (max-width: $r_mob_500){
                font-size: 1.25rem;
                justify-content: center;
            }
            &:hover {
                opacity: 1;
            }
            &::before {
                content:'';
                display: block;
                width: 3rem;
                height: 3rem;
                background-image: url(../images/plus.svg);
                background-size: cover;
                background-repeat: no-repeat;
                opacity: .8;
                @media (max-width: $r_mob_500){
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
            
        }
        &__cover {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 322px;
            text-align: center;
            @media (max-width: $r_mob_500){ 
                height: 200px;
            }

        }
        
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: $r_desk_1120){
                flex-direction: column;
                gap:2rem;
            }
        }
    }
    &-pagination {
        display: none;
        @media (max-width: $r_tab){
            display: block;
        }
    }
   
    &-button-next, &-button-prev {
        top:-60px;
        @media (max-width: $r_tab){
            display: none;
        }
        &:hover {
            &::after {
                color:rgba($green, 1); 
            }
        }
        &::after {
            color:rgba($green, .4);
            font-size: 20px;
        }
    }
    &-button-prev {
        left:initial;
        right: 70px;
    }
    &-button-next {
       
        right: -8px;
    }
}

.swiper-horizontal > .swiper-pagination-bullets{
    @media (max-width: $r_tab){
        bottom: -50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.swiper-pagination-bullet-active {
    background: $orange;
    border: 1px solid $orange;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
}

.trends {
    margin-top: 17rem;
    @media (max-width: $r_tab){
        margin-top: 6rem;
    }
    
}

.counter {
    display: flex;
    &__btn {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border: 1px solid $green;
        background-color: transparent;
        padding: 0;
        background-position: center center;
        border-radius: 100%;
        @media (max-width: $r_desk_1350){
            width: 40px;
            height: 40px;
        }
        &_min {
            width: 40px;
            height: 40px;
        }
    }
    &__minus {
        pointer-events: none;
        background-image: url(../images/minus-counter.svg);
        background-size: 20px 11px;
        background-repeat: no-repeat;
        opacity: .4;   
    }

    &__plus {
        
        background-image: url(../images/plus-counter.svg);
        background-size: 20px 11px;
        background-repeat: no-repeat;
    }
    &__input {
        text-align: center;
        font-size: 2.4rem;
        width: 46px;
        border: none;
        padding: 0;
        &_min {
            width: 33px;
        }
    }
}

.about {
    &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7rem;
    gap:12%;
    @media (max-width: $r_desk){
        gap:3%;
    }
    @media (max-width: $r_tab){
        flex-direction: column;
        gap:3rem;
    }
    @media (max-width: $r_mob_500){
        margin-top: 4rem;
    }
    }
    &__text {
        margin-left: 12rem;
        // flex-basis: 620px;
        flex-basis: 44%;
        @media (max-width: $r_desk_1280){
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1120){
            margin-left: 4rem;
        }
        @media (max-width: $r_desk){
            flex-basis: 50%;
        }
    }
    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap:9rem;
        font-family: $font-cormorant;
        font-weight: 600;
        font-style: italic;
        font-size: 3rem;
        margin: 0;
        padding-left: 0;
        flex-basis: 37%;
        @media (max-width: $r_desk){
            gap:2rem;
        }
        @media (max-width: $r_tab){
            
            gap:4rem;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &::before {
            content: '';
            width: 84px;
            height: 84px;
            background-position: center center;
            background-repeat: no-repeat;
            border: 1px solid rgba($green, .4);
            border-radius: 100%;
            margin-bottom: 1.5rem;
        }
        &:nth-child(1) {
            &::before {
                background-image: url(../images/fruits.svg);
                background-size: 44px 41px;
            }
        }
        &:nth-child(2) {
            &::before {
                background-image: url(../images/traditional.svg);
                background-size: 40px 40px;
            }
        }
        &:nth-child(3) {
            &::before {
                background-image: url(../images/good.svg);
                background-size: 45px 39px;
            }
        }
    }
}

.catalog {
    padding-top: 20rem;
    @media (max-width: $r_tab){
        padding-top: 6rem;
    }
    &__list {
        margin-bottom: 5rem;
        margin-top: 8.5rem;
        flex-wrap: wrap;
        @media (max-width: $r_desk_1350){
            justify-content: center;
        }
        @media (max-width: $r_tab){
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
        @media (max-width: $r_mob_500){
            flex-wrap: nowrap;
            // overflow: hidden;
        }
    }
    &__btn {
        margin: 5.7rem;
        text-decoration: none;
        color: rgba($green, .8);
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:2rem;
        &:hover {
            opacity: 1;
        }
        &::before {
            content:'';
            display: block;
            width: 3rem;
            height: 3rem;
            background-image: url(../images/refresh.svg);
            background-size: cover;
            background-repeat: no-repeat;
            opacity: .8;
        }
    }
}

.category {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap:2rem;
    @media (max-width: $r_mob_500){
        
        justify-content: flex-start;
    }
    &__item{
        flex-basis: 230px;
        text-align: center;
        
        @media (max-width: $r_mob_500){
            flex-basis: inherit;
            min-width: 150px;
        }
    }
    &__link{
        padding: 2.4rem 0;
        color:rgba($green, .5);
        border: 1px solid rgba($green, .5);
        font-size: 1.8rem;
        text-decoration: none;
        border-radius: 4rem;
        display: block;
        &:hover {
            border: 1px solid $orange;
            color:$orange
        }
    }
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    @media (max-width: $r_desk_1400){ 
        grid-template-columns: repeat(3,1fr);
    }

    @media (max-width: $r_desk_1120){ 
        grid-template-columns: repeat(2,1fr);
    }
    @media (max-width: $r_tab){ 
        gap: 10px;
    }
    @media (max-width: $r_mob_400){ 
        grid-template-columns: 1fr;
    }
    
    &__item {
        border: 1px solid rgba($green,0.4);
        border-radius: 2rem;
        box-sizing: border-box;
        padding: 2.7rem 3rem 3.8rem;
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, .4) inset;
        }

        @media (max-width: $r_tab){ 
            padding: 2.2rem 2rem 2.8rem;
        }
        
    }
    &__title {
        font-family: $font-cormorant;
        font-size: 3rem;
        font-weight: 700;
        color:$green;
        margin: 0;
        margin-top: 1.7rem;
        @media (max-width: $r_tab){ 
            font-size: 2rem;
            text-align: center;
            min-height: 46px;
        }
        
    }
    &__description {
        font-family: $font-cormorant;
        font-size: 1.6rem;
        font-weight: 500;
        min-height: 61px;
        line-height: 1.5;
        color:rgba($green, .7);
        margin: 0;
        margin-top: 1.8rem;
        max-width: 300px;
        @media (max-width: $r_tab){ 
            font-size: 1.2rem;
            text-align: center;
        }
    }
    &__price {
        font-family: $font-cormorant;
        font-size: 2.4rem;
        font-weight: 700;
        color:$green;
        margin: 0;
        margin-bottom: 3rem;
        @media (max-width: $r_tab){ 
            font-size: 2rem;
            text-align: center;
        }
    }
    
    &__image {
        width: 100%;
        max-width: 241px;
        max-height: 180px;
        // max-height: 200px;
        height: 100%;
        object-fit: contain;
        
    }
    &__hover {
        height: 0;
        opacity:0;
    }
    
    &__cover {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 204px;
        text-align: center;
        @media (max-width: $r_tab){ 
            height: 150px;
        }

    }
    
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $r_tab){ 
            flex-direction: column;
            gap:3rem;
        }
    }
}


.delivery {
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 5.6rem;
        gap:12%;
        @media (max-width: $r_tab){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:2.5rem;
        }
        @media (max-width: $r_mob_500){
            margin-top: 4rem;
        }
        
    }

    &__text {
        margin: 0;
        margin-left: 12rem;
        flex-basis: 44%;
        @media (max-width: $r_desk_1280){
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1120){
            margin-left: 4rem;
        }
        @media (max-width: $r_tab){
            margin-left:0;
        }
    }

    &__right {
        margin: 0;
        flex-basis: 37%;
        margin-right: 12rem;
        @media (max-width: $r_tab){
            margin-right:0;
        }
    }

    &__span {
        color:$orange
    }

    &__list {
        list-style: none;
        display: flex;
        gap:0;
        font-family: $font-cormorant;
        font-weight: 600;
        font-style: italic;
        font-size: 3rem;
        margin: 0;
        padding-left: 0;
        @media (max-width: $r_tab){
            justify-content: center;
        }
    }
    &__link {
        color: $green;
        border-bottom: 1px solid #858881;
        text-decoration: none;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &::before {
            content: '';
            width: 84px;
            height: 32px;
            background-position: center center;
            background-repeat: no-repeat;
            opacity: 0.4;
            margin-bottom: 1.5rem;
            margin-top: 3rem;
            transition: .3s;
            transform: scale(1);
            
        }
        &:hover::before{
            opacity: 1;
            transform: scale(1.2);
        }
        &:nth-child(1) {
            &::before {
                background-image: url(../images/mastercard.svg);
                background-size: 53px 45px;
            }
        }
        &:nth-child(2) {
            &::before {
                background-image: url(../images/visa.svg);
                background-size: 74px 45px;
            }
        }
        &:nth-child(3) {
            &::before {
                background-image: url(../images/paypal.svg);
                background-size: 87px 60px;
            }
        }
    }
}


.contact {
    padding-top: 10rem;
    padding-bottom: 16rem;
    @media (max-width: $r_tab){
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    
}

.contact-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $r_desk_1120){
        gap:2rem;
    }
    @media (max-width: $r_tab){
        flex-direction: column;
        justify-content: center;
        
    }
    
    
    

    

    &__text {
        margin: 0;
        margin-left: 12rem;
        flex-grow: 1;
        max-width: 400px;
        @media (max-width: 1280px) {
            margin-left: 8rem;
        }
        @media (max-width: 1120px) {
            margin-left: 4rem;
        }
        @media (max-width: $r_tab){
            margin-left:0;
            margin-top: 4rem;
            font-size: 1.2rem;
        }
        
    }

    &__form {
        flex-basis: 589px;
        @media (max-width: $r_tab){
            flex-basis: inherit;
        }
    }

    &__list {
        list-style: none;
        font-weight: 600;
        font-size: 2.4rem;
        margin: 0;
        padding-left: 0;
        margin-top: 4rem;
        @media (max-width: $r_tab){
            display: flex;
            justify-content: space-between;
            font-size: 1.2rem;
            margin-top: 2.5rem;
            margin-bottom: 4rem;
        }
    }
    &__link {
        text-decoration: none;
        color: $green;

    }
    &__listitem {
        display: flex;
        align-items: center;
        gap:3rem;
        margin-top: 1rem;
        @media (max-width: $r_tab){
            gap:1rem;
        }
       
        &::before {
            content: '';
            width: 40px;
            height: 40px;
            background-position: center center;
            background-repeat: no-repeat;
            fill:$orange;
           
            
        }
        &:nth-child(1) {
            &::before {
                background-image: url(../images/phone.svg);
                background-size: 29px 30px;
                
            }
        }
        &:nth-child(2) {
            &::before {
                background-image: url(../images/mail.svg);
                background-size: 29px 30px;
                
            }
        }
      
    }
    
}

.card {
    border: 2px solid rgba($green,0.4);
    padding: 3.2rem 5.8rem 4rem;
    border-radius: 2rem;
    &__title {
        font-size: 3rem;
        font-family: $font-cormorant;
        margin-top: 0;
    }

    &__label {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        display: block;
        margin-left: .6rem;
    }
    &__input {
        border: 1px solid rgba($green,0.4);
        padding: 2.2rem 3rem;
        margin-bottom: 2.8rem;
        border-radius: 2rem;
        display: block;
        width: 100%;
        box-sizing: border-box;
        &:focus {
            border: 1px solid rgba($green,1);
            outline: none;
        }
        &:invalid {
            border: red;
        }
    }
    &__check {
        font-size: 1.2rem;
        color: rgba($green, .6);
        line-height: 1.5;
        max-width: 360px;
        margin-top: 1.6rem;
        margin-bottom: 0;
        
    }

    &__link {
        margin-top: 1.2rem;
        
    }
    &__docs {
        color: rgba($green, .6);
        text-decoration: none;
        border-bottom: 1px solid #ecedec;
    }

}

.form {
    @media (max-width: $r_mob_500){
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}


.footer {
    // background-image: url(../images/footer.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position-x: center;

    padding-top: 8rem; 
    padding-bottom: 8rem; 
    border-top: 1px solid #d4d6cf;
    @media (max-width: $r_tab){
        padding-top: 4rem; 
        padding-bottom: 4rem; 
    }

    &__info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-basis: 66%;
        @media (max-width: $r_tab){
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-basis: 100%;
        }
        
    }
    &__box {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: $r_tab){
            flex-direction: column;
            align-items: center;
        }
        
    }

    &__item {
        margin-bottom: 2rem;
        @media (max-width: $r_tab){
            margin-bottom: 0;
        }

    }
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-bottom: 2rem;
        @media (max-width: $r_tab){
            display: flex;
            align-items: center;
            gap:29px;
            
            
        }
       
    }

    &__address {
        @media (max-width: $r_tab){
            flex-direction: column;
            gap:20px;
        }

    }
    
    &__link{
        text-decoration: none;
        color:$green;
        &:hover {
            color:$orange;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        gap:2rem;
        @media (max-width: $r_tab){
            margin-top:18px;
            gap:1.5rem;
        }
    }
    &__text {
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;
        @media (max-width: $r_tab){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;
            gap:1rem;
        }
    }

    &__copy {
        margin: 0;
        color: rgba($green, .6);
        font-size: 1.6rem;
    }

    &__author {
        margin: 0;
        color: rgba($green, .6);
        font-size: 1.6rem;
        
    }
    &__tel {
        font-size: 2.7rem;
        text-decoration: none;
        color:$green
    }

   


}

.footer-social {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    @media (max-width: $r_tab){
        margin-top: 2rem;
    }
    &__link {

        background-position: center;
        background-repeat: no-repeat;
        border: 2px solid $green;
        border-radius: 100%;
        margin-bottom: 1.5rem;
        display: block;
        width: 4.6rem;
        height: 4.6rem;
        opacity: 0.8;
        transition: .3s;
        &:hover {
            opacity: 1;
        }
        

    }
    &__vk {
        background-image: url(../images/vk.svg);
        background-size: 2.3rem;
        
    }

    &__inst {
        background-image: url(../images/instagram.svg);
        background-size: 1.8rem;
    }

    &__fb {
        background-image: url(../images/facebook.svg);
        background-size: 1.8rem;
    }
}






@keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 rgba($green, .5);
    }
    50% {
        box-shadow:20px 20px 33px 0 rgba($green, .5);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($green, .5);
    }

}



