@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');



$green:#27300f;
$orange: #d26a22;
$white: #ffffff;

$font-jost: "Jost", sans-serif;
$font-cormorant:  "Cormorant", serif;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color:$green;

    
}

.header {
    max-width: 1440px;
    margin: 0 auto 6rem;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap:4.8rem;
    }
    &__link {
        
        color:$green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        
        color:$green;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__cart {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: $orange;
        background-image: url(../images/cart.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.7rem 1.5rem;
        border:1px solid $orange;
        position: relative;
        &:hover {
            background-color: $green;
            border:1px solid $green;
        }

    }
    &__count{
        font-size: .8rem;
        color: $white;
        position: absolute;
        right:1rem;
        top:.6rem;
    }
}

.logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 12rem;
    height: 3.2rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    background-image: url(../images/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    position: relative;
    padding-bottom: 187px;
    z-index: 0;
    &__item {
        margin-top: 6rem;
        margin-left: 12rem;
        max-width: 378px;
    }
    &__link {
        margin-top: 6rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:30px;
    }
    &__text {
        padding-top: 4rem;
    }
    &__cover {
        flex-basis: 758px;
        height: 758px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__image {
        width: 92%;
    }
    &__line {
        width: 656px;
        height: 656px;
        // box-shadow: 0 0 0 1px rgba($green, 0.4), 0 0 0 53px #fff, 0 0 0 54px rgba($green, 0.4);
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    &__btn {
        border: none;
        padding: 0;
        color: $green;
        position: absolute;
        text-align: left;
        background-color: transparent;
       

       
        
        &::before {
            content: '';
            width: 11px;
            background-color: $green;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            position: absolute;
        }

        // &:hover {
        //     .main__btn::before {
        //         background-color: $orange;
        //         box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
        //     }
        // }

         &:hover {
            .main__btn {
                &::before {
                    background-color: $orange;
                    box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
                }

            }

        }

        &_1 {
            top:63px;
            left:47px;
            &::before {
                bottom:0;
                right:-26px;
            }
            
        }
        &_2 {
            top:212px;
            right:-3px;
            &::before {
                bottom:12px;
                right:85px;
            }
            
        }
        &_3 {
            bottom:-44px;
            left:475px;
            &::before {
                top:-32px;
                right:23px;
            }
            
        }
    }

    &__food {
        display: block;
        color: rgba ($green, 0.8);
    }
    &__tomato {
        position: absolute;
        bottom:12rem;
        right: 15rem;
        width: 11rem;
        z-index: -1;

    }

    &__avocado {
        position: absolute;
        top:6rem;
        right: 3rem;
        width: 17.8rem;
        z-index: -1;

    }

    &__cucumber {
        position: absolute;
        top:0;
        left: 65rem;
        width: 8.4rem;
        z-index: -1;

    }

    &__pepper {
        position: absolute;
        top:38rem;
        left: 3rem;
        width: 8.6rem;
        z-index: -1;

    }

    &__beans {
        position: absolute;
        bottom:12rem;
        left: 0;
        width: 10.5rem;
        z-index: -1;

    }
}

.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }
    }

}

.description {
    margin: 0;
    line-height: 1.5;
    &_size-s {
        font-size: 1.8rem;
    }
    &_size-m {
        font-size: 2.4rem;
    }
}

.link {
    color:$white;
    letter-spacing: 0.13rem;
    text-transform: uppercase;
    padding: 2.5rem 4.2rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.6rem;
    display: inline-block;
}

.offer {
    background-image: url(../images/offer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    padding-top: 2rem;
    padding-bottom: 12.8rem;
    &__text {
        margin-top: 6rem;
        max-width: 700px;
    }
    
}

.slider {
    overflow: hidden;
    padding-top: 100px;
}

.swiper {
    overflow: initial;
    &-slide {
        border: 1px solid rgba($green,0.4);
        border-radius: 2rem;
        padding: 4rem 3.7rem;
        box-sizing: border-box;
        height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;
        &_white {
            justify-content: flex-end;
            &:hover {
                .swiper-slide__hover {
                    height: 233px;
                    opacity:1;
                } 
                &::after{
                    content: '';
                    background-color: rgba($white,.55);
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    position: absolute;
                    top:2px;
                    left:2px;
                    border-radius: 2rem;
                    z-index: -1;
                }
            }
        }
       

        &:hover {
            box-shadow: 0 0 0 2px rgba($green,0.4) inset;    
        }
        &_milk {
            background-image: url(../images/milk.png);
        }
        &_pasta {
            background-image: url(../images/pasta.png);
        }
        &_steaks {
            background-image: url(../images/steaks.png);
        }
        &__title {
            font-family: $font-cormorant;
            font-size: 3rem;
            font-weight: 700;
            color:$green;
            margin: 0;
        }
        &__text {
            color:rgba($green, .7);
            line-height: 1.5;
            font-size: 1.6rem;
            max-width: 263px;
            margin:0;
            margin-top: 2.5rem;
            margin-bottom: 3.4rem;
        }
        &__hover {
            height: 0;
            opacity:0;
        }
        &__link {
            text-decoration: none;
            color: rgba($green, .8);
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            display: flex;
            align-items: center;
            gap:2rem;
            &:hover {
                opacity: 1;
            }
            &::before {
                content:'';
                display: block;
                width: 3rem;
                height: 3rem;
                background-image: url(../images/plus.svg);
                background-size: cover;
                background-repeat: no-repeat;
                opacity: .8;
            }
            
        }
        &__cover {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 293px;
            text-align: center;

        }
        &__image {
            height: 100%;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &-pagination {
        display: none;
    }
    &-button-next, &-button-prev {
        top:-60px;
        &:hover {
            &::after {
                color:rgba($green, 1); 
            }
        }
        &::after {
            color:rgba($green, .4);
            font-size: 20px;
        }
    }
    &-button-prev {
        left:initial;
        right: 70px;
    }
    &-button-next {
       
        right: -8px;
    }
}

.trends {
    margin-top: 17rem;
    
}

.counter {
    display: flex;
    &__btn {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border: 1px solid $green;
        background-color: transparent;
        padding: 0;
        background-position: center center;
        border-radius: 100%;
    }
    &__minus {
        pointer-events: none;
        background-image: url(../images/minus-counter.svg);
        background-size: 20px 11px;
        background-repeat: no-repeat;
        opacity: .4;   
    }

    &__plus {
        
        background-image: url(../images/plus-counter.svg);
        background-size: 20px 11px;
        background-repeat: no-repeat;
    }
    &__input {
        text-align: center;
        font-size: 2.4rem;
        width: 46px;
        border: none;
        padding: 0;
    }
}

.about {
    &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7rem;
    }
    &__text {
        margin-left: 12rem;
        flex-basis: 620px;
    }
    &__list {
        list-style: none;
        display: flex;
        gap:9rem;
        font-family: $font-cormorant;
        font-weight: 600;
        font-style: italic;
        font-size: 3rem;
        margin: 0;
        padding-left: 0;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &::before {
            content: '';
            width: 84px;
            height: 84px;
            background-position: center center;
            background-repeat: no-repeat;
            border: 1px solid rgba($green, .4);
            border-radius: 100%;
            margin-bottom: 1.5rem;
        }
        &:nth-child(1) {
            &::before {
                background-image: url(../images/fruits.svg);
                background-size: 44px 41px;
            }
        }
        &:nth-child(2) {
            &::before {
                background-image: url(../images/traditional.svg);
                background-size: 40px 40px;
            }
        }
        &:nth-child(3) {
            &::before {
                background-image: url(../images/good.svg);
                background-size: 45px 39px;
            }
        }
    }
}

